@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis";
    color: #26223B;
    background-image: url(img/background.png);
    background-position: right center;
    background-size: cover;
    position: relative;
    margin: 0px;
    background-attachment: fixed;
    line-height: 1.5;
    display: flex;
    height: 130vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    max-width: 450px;
    min-height: 600px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #f1e8e2;
    border-radius: 15px;
    box-shadow: 13px 10px 20px #cbced1, -13px -10px 20px #fff;
}

.wrapper .name {
    text-align: center;
    margin: 20px;
    max-height: 20px;
}

.wrapper .form-field {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #000;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.select,
input[type="text"],
input[type="password"],
input[type="email"] {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

input[type="date"],
input[type="time"] {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #F89A58;
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .fs-6 {
    margin-top: 10px;
    font-size: 0.8rem;
}

.wrapper .btn:hover {
    background-color: #f1e8e2;
    color: #F89A58;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 700px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}